{% extends "dashboard/snippets/base.html" %}
{% load static%}
{% block  style %}
<link rel="stylesheet" href="{% static 'dashboard/css/css/newstyle.css' %}"/>
<link rel="stylesheet" href="{% static 'dashboard/css/css/main.css' %}"/>
<link rel="stylesheet" href="{% static 'dashboard/css/css/pace.min.css' %}"/>


<!-- Custom fonts for this template-->
<link
        href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}"
        rel="stylesheet"
        type="text/css"
/>
<link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet"
/>

<!-- Custom styles for this template-->
<link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet"/>
{% endblock style %}
{% block  title %}
<title>Richfams - Dashboard</title>

{% endblock title %}
{% block  content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
    >
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                            >
                                Deposit
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                $40,000
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                    class="text-xs font-weight-bold text-success text-uppercase mb-1"
                            >
                                Invest
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                $215,000
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                    class="text-xs font-weight-bold text-success text-uppercase mb-1"
                            >
                                Bonus
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                $215,000
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                    class="text-xs font-weight-bold text-success text-uppercase mb-1"
                            >
                                Capping
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                $215,000
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <!-- <div class="card-header" id="headingOne">
                          <h2 class="">
                            <button
                              class="btn btn-lg btn-primary"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapseOne"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                              style="width: 100%"
                            >
                              Collapsible Group Item #1
                            </button>
                          </h2> -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button
                                        class="btn btn-lg btn-success"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                        style="width: 100%"
                                >
                                    Deposit
                                </button>
                            </h2>

                            <div
                                    id="collapseOne"
                                    class="collapse"
                                    aria-labelledby="headingOne"
                                    data-parent="#accordionExample"
                                    style="margin-top: 50px"
                            >
                                <h5>Nominal</h5>
                                <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Minimum $50"
                                />
                                <br/>

                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <img
                                                src="{% static 'dashboard/img/binance-coin-bnb-logo.png' %}"
                                                style="width: 50px"
                                                alt=""
                                        />
                                        <br/>
                                        <div class="form-check form-check-primary">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="Primary"
                                                    id="Primary"
                                                    checked
                                            />
                                            <label class="form-check-label" for="Primary">
                                                BNB
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <img
                                                src="{% static 'dashboard/img/tron-trx-logo.png' %}"
                                                style="width: 50px"
                                                alt=""
                                        />
                                        <br/>
                                        <div class="form-check form-check-primary">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="Primary"
                                                    id="Primary"
                                                    checked
                                            />
                                            <label class="form-check-label" for="Primary">
                                                TRON
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <img
                                                src="{% static 'dashboard/img/dogecoin-doge-logo (1).png' %}"
                                                style="width: 50px"
                                                alt=""
                                        />
                                        <br/>
                                        <div class="form-check form-check-primary">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="Primary"
                                                    id="Primary"
                                                    checked
                                            />
                                            <label class="form-check-label" for="Primary">
                                                DOGE
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <br/>

                                <input
                                        type="checkbox"
                                        style="padding: 50px !important"
                                /><label for="agree1" style="margin-left: 5px">
                                agree to term and services</label
                            >
                                <button class="btn btn-lg btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="accordion" id="accordionExample1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="uwi">
                                <button
                                        class="btn btn-lg btn-success"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="true"
                                        aria-controls="collapseTwo"
                                        style="width: 100%"
                                >
                                    Invest
                                </button>
                            </h2>

                            <div
                                    id="collapseTwo"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="uwi"
                                    data-bs-parent="#accordionExample1"
                                    style="margin-top: 50px"
                            >
                                <h6>Package</h6>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    value=""
                                                    id="flexCheckDefault"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="flexCheckDefault"
                                                    style="
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: black;
                                  "
                                            >$ 50</label
                                            >
                                        </div>

                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    value=""
                                                    id="flexCheckDefault"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="flexCheckDefault"
                                                    style="
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: black;
                                  "
                                            >$ 100</label
                                            >
                                        </div>

                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    value=""
                                                    id="flexCheckDefault"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="flexCheckDefault"
                                                    style="
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: black;
                                  "
                                            >$ 500</label
                                            >
                                        </div>

                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    value=""
                                                    id="flexCheckDefault"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="flexCheckDefault"
                                                    style="
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: black;
                                  "
                                            >$ 1000</label
                                            >
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    value=""
                                                    id="flexCheckDefault"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="flexCheckDefault"
                                                    style="
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: black;
                                  "
                                            >$ 5000</label
                                            >
                                        </div>

                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    value=""
                                                    id="flexCheckDefault"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="flexCheckDefault"
                                                    style="
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: black;
                                  "
                                            >$ 10000</label
                                            >
                                        </div>

                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    value=""
                                                    id="flexCheckDefault"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="flexCheckDefault"
                                                    style="
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: black;
                                  "
                                            >$ 50000</label
                                            >
                                        </div>

                                        <div class="form-check">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    value=""
                                                    id="flexCheckDefault"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="flexCheckDefault"
                                                    style="
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: black;
                                  "
                                            >$ 100000</label
                                            >
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-lg btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
</div>
{% endblock content %}

{% block  script %}
<script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>

{% endblock script %}
